* {
    margin: 0px;
    padding: 0px;
    /* font-family: "Inter", sans-serif; */
}

.new-year {
    text-align: center;
    font-family: "Merriweather", serif;
    padding: 177px 340px;
    margin: 50px 140px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('Images/Banner\ Image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;

}

.new-year h2 {
    font-weight: 900;
    font-size: 72px;
    color: white;

}

.new-year h4 {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 32px;
    color: white;
}

/* discount section */
.discount {
    font-family: "Inter", sans-serif;
    text-align: center;
    display: block;
    margin-top: 120px;
}

.discount h2 {
    color: rgb(255, 0, 0);
    font-weight: 700;
    font-size: 88px;
    margin: 48px;

}

.discount h4 {
    color: rgb(255, 0, 0);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;

}

.discount h3 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 48px;
}

.discount-text {
    margin-bottom: 48px;
}

.discount-image {
    width: 100%;
}

.welcome {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('Images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin: 120px 140px;
    align-items: center;
    padding: 70px 140px 70px 126px ;

}

.welcome h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 64px;
    color: white;
    margin-bottom: 24px;
}

.welcome p {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color :rgba(255, 255, 255, 0.8);
    width: 700px;
}

.welcome button {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: transparent;
    border: none;
    padding: 5px;
    margin-top: 25px;
    position: absolute;
    /* margin-left:32px ; */
    
}
.welcome button:hover{
    transition: .2s ease-in-out;
    background-color: white;
    color: black;
    border-radius: 3px;
    padding: 8px;
}
.welcome img{
   width: 320px;
   padding-right: 130px;
}

/* venue section starts */

.venue{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    display: block;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin: 120px 140px;
    /* border: 1px solid black; */
}
.red{
    color: rgb(255, 0, 0);
}
.venue-button{
    font-weight: 700;
    font-size: 20px;
    padding: 16px 32px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 48px;
    margin-bottom: 126px;

}
.venue p{
    line-height: 56px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 100px;
}

/* Bonus section starts */
.bonus{
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 120px 140px;
}

.bonus h3{
    font-family:"Merriweather", serif ;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 22px;
    margin-top: 16px;
}
.bonus h4{
    color:rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
}
.bonus-column-one-description{
    
    color: rgba(7, 2, 17, 0.6);
    width: 400px;
    line-height: 32px;
    font-size: 20px;
}
.bonus-column-two{
    padding: 0px 118px 0px 50px;
}
.bonus-column-two img{
    width: 100%;
    padding: 30px;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;

}

.bonus-column-three{
    display: block;
}
.bonus-column-three h2{
    font-weight: 700;
    font-size: 48px;
    color: rgb(255, 0, 0);
}
.bonus-column-three-description{
    color:rgba(7, 2, 17, 0.6) ;
    width: 300px;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 43px;
}
/* holiday section starts */
.holiday{
    display: block;
    text-align: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    margin-bottom: 70px;
    margin-left: 140px;
    margin-right: 140px;
    margin: 120px 140px;

}
.holiday h3{
    font-family: "Merriweather", serif ;
    font-weight: 900;
    font-size: 72px;
    margin-top: 16px;
}
.holiday h4{
    font-weight: 500;
    font-size: 24px;
}
.holiday p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    text-align: center;
    padding-left: 126px;
    padding-right: 126px;
    margin-bottom: 48px;
}
.top{
    margin-top: px;
    display: flex;
    height: 660px;
    background-image: url(Images/Rectangle\ 2.png), url("Images/Rectangle\ 1.png");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, top right;
   background-size: 100%,  40%;
}
.top img{
    width: 100%;
    gap: 0%;
}
#fifty img{
    width: 100%;
    position:relative ;
    left: -200px;
}
/* portfolioo section starts */
.portfolio{
    text-align: left;
    margin: 120px 140px;
    align-items: center;
}
.portfolio-header{

    margin-bottom:24px ;
}
.portfolio-header h2{
    font-family: "Merriweather", serif ;
    font-weight: 900;
    font-size: 48px;
}
.portfolio-header h3{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: red;
}
.portfolio-header p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color : rgba(7, 2, 17, 0.6);
    width: 900px;

}
.portfolio-row{
    display: flex;
}
.portfolio-column{
    margin: 24px 24px 0px 0px;

}
.portfolio-column img{
    width: 100%;
}
.portfolio-column img:hover{
    scale: 1.1;
    transition: .1s ease-in-out;
}
/* newsletter section starts */
.subscribe form{
    display: flex;
    justify-content:center;
}
.newsletter{
    display: block;
    text-align: center;
    padding: 80px 212px;
    background-color: rgba(255, 0, 0, 0.05);
    margin: 120px 140px;
    border-radius: 16px;
}
.subscribe input[type="email"]{
    padding: 25px 280px 25px 30px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 50px 0 0 50px;
    background-color: #fff;
    color: #888;

}
.subscribe button{
    border: none;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0 50px 50px 0;
    padding: 24px 56px;
}
.newsletter h2{
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 48px;
}
.newsletter p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin-top: 22px;
    margin-bottom: 48px;
}
/* footer starts */
footer{
    background-color: black;
    color: white;
    padding: 120px 140px;
    font-family: "Inter", sans-serif;
}
.footer-top{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.footer-top img{
    width: 24px;
}
.footer-middle{
    display: flex;
    justify-content: center;
}
hr{
    margin: 48px 140px ;
    opacity: 0.2;
    margin
}
.footer-middle img{
    width: 64px;
    padding-right: 25px;
}
.footer-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-bottom button{
    background: none;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
    border-radius: 8px;
}
.footer-bottom button:hover{
    background: white;
    border: none;
    color:black;
    font-weight: 500;
    transition: 0.1s ease-in-out;
}
.footer-top-right img{
   margin-right: 10px;
}
.footer-top-right-col{
    display: flex;
    align-items: center;
}